@import "~@angular/material/theming";

@mixin toolbar-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-toolbar {
    background-color: mat-color($primary, 800);
    opacity: 0.75;

    .mat-icon,
    a {
      color: white;
    }
  }
}
