@import "~@angular/material/theming";

@mixin carousel-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .carousel-indicator-container .mat-mini-fab.selected {
    background-color: mat-color($primary, secondary-text);
  }

  .carousel-indicator-container .mat-mini-fab:not(.selected) {
    background-color: lighten(mat-color($background, background), 10%);
  }
}
