.drawer-container {
  height: 100%;
}

.drawer {
  width: 200px;
}

.drawer .mat-toolbar {
  background: inherit;
}

.mat-drawer-content {
  flex-direction: column;
}

.app-content {
  position: relative;
  height: 100%;
  display: block;
  overflow: auto;
}
