<mat-toolbar [ngClass]="{handset: isHandset$| async}">

  <div class="toolbar-content">

    <a mat-icon-button [routerLink]="['/']" class="home-link">
      <img height="40px" width="40px" [src]="logo" alt="Site logo">
    </a>

    <div class="right-container">

      <button type="button" aria-label="Toggle drawer" mat-icon-button (click)="drawerToggled.emit()">
        <mat-icon aria-label="Drawer toggle icon">menu</mat-icon>
      </button>

      <a *ngFor="let route of routes" [routerLink]="['/' + route.path]">
        {{route.data?.title| translate}}</a>
    </div>

  </div>
</mat-toolbar>