@import "~@angular/material/theming";

@mixin toolbar-theme($theme) {
  .mat-toolbar {
    &.handset {
      background: rgba(0, 0, 0, 0.75);
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:not(.handset) {
      background: rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.75);
    }

    a {
      color: white;
    }
  }
}
