<div class="quote-container">
  <div class="quote-content" [ngClass]="{'handset': (isHandset$| async)}">
    <div class="quote-info">
      <h1>{{'quote.info.title'| translate}}</h1>
      <p>{{'quote.paragraph.1'| translate}}</p>
      <p>{{'quote.paragraph.2'| translate}}</p>
      <div class="recommendations-container" *ngFor="let recommendation of recommendations">
        <mat-icon color="accent">check</mat-icon>
        {{'quote.recommendations.' + recommendation |translate}}
      </div>
    </div>
    <app-contact-form></app-contact-form>
  </div>
</div>