<main class="home-container">
  <div class="carousel-container">
    <app-carousel [aria-label]="'Slides'">
      <div *ngFor="let slide of slides" carousel-item class="carousel-item">
        <div class="carousel-img" [style]="'background-image: url(' + slide + ')'">
        </div>
      </div>
      <div class="overlay-container">
        <a mat-stroked-button type="button" [routerLink]="'/devis-gratuit'">
          {{'home.free-quote' | translate}}
        </a>
      </div>
    </app-carousel>
  </div>
</main>