<app-carousel [aria-label]="'Slides'" [showArrows]="!(isHandset$ | async)">
  <div *ngFor="let slide of slides" carousel-item class="carousel-item">
    <div class="carousel-img" [style]="'background-image: url(' + slide + ')'">
    </div>
  </div>
  <div class="overlay-container">
    <div class="overlay-content" [ngClass]="{'handset': (isHandset$| async)}">
      <div>
        <h3>{{'home.overlay.title' | translate}}</h3>
        <h1>{{'home.overlay.sub-title' | translate}}</h1>
        <a mat-raised-button type="button" [routerLink]="'/devis-gratuit'" color="primary">
          {{'home.free-quote' | translate}}
        </a>
      </div>
    </div>
  </div>
</app-carousel>